build/index.html
<!DOCTYPE html><html><head><title>ImUs</title><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1"><script src="//code.jquery.com/jquery-3.4.1.min.js"></script><script src="//cdnjs.cloudflare.com/ajax/libs/page.js/1.11.5/page.min.js"></script><script src="vendors/imus-background-v0.1.2.js"></script><script src="js/app.min.js"></script><link href="css/style.css" rel="stylesheet"></head><body><canvas id="background" style="display:none;"></canvas><div class="comments" id="comments"></div><div class="splash" id="splash" style="display:none;"><h1 class="pink">ImUs<br>A tool for thinking and sharing<br>in the age of social distancing</h1></div><div class="write" id="write" style="display:none;"><div class="step picker" style="display:none;"><p>What color defines your mood regarding the actual global crisis?</p></div><div class="step draft" style="display:none;"><div class="input" contenteditable="true" style="font-size: 140px"></div></div><div class="step location" style="display:none;">LOCATION SELECT</div></div><div class="about" id="about" style="display:none;"><div class="wrapper"><p>ImUs</p><p>A tool for thinking and sharing in the age of social distancing.</p><p class="buffer">Concept by <a href>Milk</a> & <a href>Kairos</a><br>Code by <a href>Thibault Brevet</a>, <a href>Haris Kahn</a>& <a href>Nathan Vogel</a></p></div></div><div class="cursor" id="cursor" style="display: none"><div class="cursor-enter" style="display: none">enter</div><div class="cursor-write" style="display: none">write</div><div class="cursor-send" style="display: none">send</div><div class="cursor-skip" style="display: none">skip</div><div class="cursor-about" style="display: none">about</div><div class="cursor-back" style="display: none">back</div><div class="cursor-picker" style="display: none"></div></div><div class="helper" id="helper" style="opacity: 0;"><a href="/about">about</a></div></body></html>

src/pug/index.pug
doctype html
html
	head
		title ImUs
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		script(src='//code.jquery.com/jquery-3.4.1.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/page.js/1.11.5/page.min.js')
		script(src='vendors/imus-background-v0.1.2.js')
		script(src='js/app.min.js')
		link(href='css/style.css' rel='stylesheet')
	body
		canvas#background(style='display:none;')
		#comments.comments
		#splash.splash(style='display:none;')
			h1.pink
				| ImUs
				br
				| A tool for thinking and sharing
				br
				| in the age of social distancing
		#write.write(style='display:none;')
			.step.picker(style='display:none;')
				p What color defines your mood regarding the actual global crisis?
			.step.draft(style='display:none;')
				.input(contenteditable='true' style='font-size: 140px')
			.step.location(style='display:none;') LOCATION SELECT
		#about.about(style='display:none;')
			.wrapper
				p ImUs
				p A tool for thinking and sharing in the age of social distancing.
				p.buffer
					| Concept by 
					a(href) Milk
					|  & 
					a(href) Kairos
					br
					| Code by 
					a(href) Thibault Brevet
					| , 
					a(href) Haris Kahn
					| & 
					a(href) Nathan Vogel
		#cursor.cursor(style='display: none')
			.cursor-enter(style='display: none') enter
			.cursor-write(style='display: none') write
			.cursor-send(style='display: none') send
			.cursor-skip(style='display: none') skip
			.cursor-about(style='display: none') about
			.cursor-back(style='display: none') back
			.cursor-picker(style='display: none')
		#helper.helper(style='opacity: 0;')
			a(href='/about') about
